
		<header>
			<!-- header-top-area-start -->
			<div class="header2-transparent">
               <div class="container">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="https://instaservices.blob.core.windows.net/digitalpassion/digitalpassion_logo_white.png" alt=""></a>
                           </div>
						</div>
						<div class="col-xl-9 col-lg-9">
							<div class="header-right header2-right  d-none d-lg-block">

                           </div>
                           <div class="main-menu text-right">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>

									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>
										<!--<li><a href="events.html">events</a></li>-->
										<!--<li><a href="blog.html">News</a>-->
          <!--                                  <ul class="submenu">-->
          <!--                                      <li>-->
          <!--                                          <a href="blog.html">Blog</a>-->
          <!--                                      </li>-->
          <!--                                      <li>-->
          <!--                                          <a href="blog-details.html">Blog Details</a>-->
          <!--                                      </li>-->
          <!--                                  </ul>-->
          <!--                              </li>-->
										<!--<li><a href="shop.html">Shop</a>-->
										<!--	<ul class="submenu">-->
          <!--                                      <li>-->
          <!--                                          <a href="shop-details.html">shop details</a>-->
          <!--                                      </li>-->
          <!--                                  </ul>-->
										<!--</li>-->
										<li><%= link_to 'Contact', page_path('contact') %> </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="far fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- slider-area-start -->
		<div class="slider-area ">
			<div class="slider-active">
				<div class="slider-wrapper vh d-flex align-items-center" style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/slider/slider2.jpg)">
					<div class="container">
						<div class="slider-content text-center">
							<h1 data-animation="fadeInUp" data-delay=".5s">unlock the golden door <br> of digital excellence.</h1>
							<div class="slider-button">
								<a class="read-more" href="#" data-animation="fadeInLeft" data-delay="1.5s">Get started</a>
								<a class="see-more btn-border" href="#" data-animation="fadeInRight" data-delay="1.5s">Take a tour</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-wrapper vh d-flex align-items-center" style="background-image:url(img/slider/slider2.jpg)">
					<div class="container">
						<div class="slider-content text-center">
							<h1 data-animation="fadeInUp" data-delay=".5s">unlock the golden door <br> of freedom.</h1>
							<div class="slider-button">
								<a class="read-more" href="#" data-animation="fadeInLeft" data-delay="1.5s">Get started</a>
								<a class="see-more btn-border" href="#" data-animation="fadeInRight" data-delay="1.5s">Take a tour</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slider-area-end -->
		<!-- features-area-start -->
		<div class="features-area featuress pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
						<div class="features-wrapper single-features text-center mb-30">
							<div class="features-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/digitalpassion-featured-image01.jpg" alt="" />
							</div>
							<div class="features-text features-info">
								<span>Digital</span>
								<h3>Marketing Training</h3>
								<p>Step by Step Advanced Training that covers A to Z of Digital Marketing. </p>
								<!--<a href="#">VIEW ALL EVENTS <i class="fas fa-long-arrow-alt-right"></i></a>-->
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
						<div class="features-wrapper text-center mb-30">
							<div class="features-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/digitalpassion-featured-image02.jpg" alt="" />
							</div>
							<div class="features-text features-info">
								<span>100 percent</span>
								<h3>Practical Lectures</h3>
								<p>From the Basics to the Core Features explained practically through live examples. </p>
								<!--<a href="#">GO TO SHOP <i class="fas fa-long-arrow-alt-right"></i></a>-->
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 offset-md-3 offset-lg-0 offset-sm-3">
						<div class="features-wrapper text-center mb-30">
							<div class="features-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/digitalpassion-featured-image03.jpg" alt="" />
							</div>
							<div class="features-text features-info">
								<span>Case Studies</span>
								<h3> & Assignments</h3>
								<p>To get a clear idea of how Digital Marketing is Done the 'Right Way'. </p>
								<!--<a href="#">LEARN COURES <i class="fas fa-long-arrow-alt-right"></i></a>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- features-area-end -->
		<!-- experience-area-start -->
		<div class="experience-area pb-100">
			<div class="container">
				<div class="row">
					<div class="offset-xl-1 col-xl-10">
						<div class="experience-wrapper text-center">
							<div class="experience-text">
								<h1>20 Year Of Experience</h1>
								<p>Get Trained By a Digital Ad Agency that has years of experience in servicing our clients with Building brands and setting up online businesses.</p>
								<div class="experience-img">
									<img src="img/experience/1.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- experience-area-end -->
		<!-- courses-area-start -->
		<div class="courses-area gray-bg pt-90 pb-100">
			<div class="container">
				<div class="section-title text-center mb-45">
					<h1>available courses</h1>
					<p>It gives us the potential to do something different, challenge the way that people behave and change</p>
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="coures-wrapper text-center mb-30">
							<div class="coures-img">
								<a href="https://digital-passion-kiransabne.c9users.io/courses/digital_marketing_certification_course_india"><img src="https://instaservices.blob.core.windows.net/digitalpassion/digital_marketing_course_full.jpg" alt="" /></a>
							</div>
							<div class="courses-text">
								<span class="course-tag"><a href="http://digital-passion-kiransabne.c9users.io/courses/digital_marketing_certification_course_india">Signup</a></span>
								<h4><a href="https://digital-passion-kiransabne.c9users.io/courses/digital_marketing_certification_course_india">Digital Marketing <br> Certification</a></h4>
								<div class="course-meta">
									<!--<span><i class="fas fa-bookmark"></i>8 Lessons</span>-->
									<!--<span><i class="fas fa-users"></i> 36</span>-->
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="coures-wrapper text-center mb-30">
							<div class="coures-img">
								<a href="https://digital-passion-kiransabne.c9users.io/courses/email_marketing_course"><img src="https://instaservices.blob.core.windows.net/digitalpassion/emailmarketing-full.jpg" alt="" /></a>
							</div>
							<div class="courses-text">
								<span class="course-tag"><a href="">$12.00</a></span>
								<h4><a href="https://digital-passion-kiransabne.c9users.io/courses/email_marketing_course">Email Marketing<br> Certification Course</a></h4>
								<div class="course-meta">
									<!--<span><i class="fas fa-bookmark"></i>8 Lessons</span>-->
									<!--<span><i class="fas fa-users"></i> 36</span>-->
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="coures-wrapper text-center mb-30">
							<div class="coures-img">
								<a href="https://digital-passion-kiransabne.c9users.io/courses/facebook_marketing_certification_course"><img src="https://instaservices.blob.core.windows.net/digitalpassion/facebook-marketing-course-full.jpg" alt="" /></a>
							</div>
							<div class="courses-text">
								<span class="course-tag"><a href="">$22.00</a></span>
								<h4><a href="https://digital-passion-kiransabne.c9users.io/courses/facebook_marketing_certification_course">Facebook Marketing <br> Certification Course</a></h4>
								<div class="course-meta">
									<!--<span><i class="fas fa-bookmark"></i>8 Lessons</span>-->
									<!--<span><i class="fas fa-users"></i> 36</span>-->
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="coures-wrapper text-center mb-30">
							<div class="coures-img">
								<a href="https://digital-passion-kiransabne.c9users.io/courses/youtube_marketing_course"><img src="https://instaservices.blob.core.windows.net/digitalpassion/youtube-marketing-full.jpg" alt="" /></a>
							</div>
							<div class="courses-text">
								<span class="course-tag"><a href="">$22.00</a></span>
								<h4><a href="https://digital-passion-kiransabne.c9users.io/courses/youtube_marketing_course">YouTube Marketing<br> Certification</a></h4>
								<div class="course-meta">
									<!--<span><i class="fas fa-bookmark"></i>8 Lessons</span>-->
									<!--<span><i class="fas fa-users"></i> 36</span>-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="couses-button text-center">
					<a href="https://digital-passion-kiransabne.c9users.io/courses/">view all courses</a>
				</div>
			</div>
		</div>
		<!-- courses-area-end -->
		<!-- counter-area-start -->
		<div class="counter-area pt-100 pb-70 blue-bg">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="counter-wrapper text-center mb-30">
							<div class="counter-icon">
								<i class="fa fa-graduation-cap"></i>
							</div>
							<div class="counter-text">
								<h1 class="counter">261</h1>
								<span>Graduates</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="counter-wrapper text-center mb-30">
							<div class="counter-icon">
								<i class="fa fa-trophy"></i>
							</div>
							<div class="counter-text">
								<h1 class="counter">361</h1>
								<span>Students</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="counter-wrapper text-center mb-30">
							<div class="counter-icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="counter-text">
								<h1 class="counter">35</h1>
								<span>Courses</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="counter-wrapper text-center mb-30">
							<div class="counter-icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="counter-text">
								<h1 class="counter">16</h1>
								<span>Teachers</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- counter-area-end -->
		<!-- free-course-area-start -->
		<!--<div class="free-course-area yellow-bg pt-50 pb-30">-->
		<!--	<div class="container">-->
		<!--		<div class="row">-->
		<!--			<div class="col-xl-6 col-lg-6 col-md-8">-->
		<!--				<div class="free-course-wrapper mb-20">-->
		<!--					<div class="free-course-icon">-->
		<!--						<a href="#"><i class="far fa-thumbs-up"></i></a>-->
		<!--					</div>-->
		<!--					<div class="free-course-text">-->
		<!--						<h3>Try Our Free Trial Courses</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--			<div class="col-xl-6 col-lg-6 col-md-4">-->
		<!--				<div class="free-course-button text-md-right mt-10 mb-20">-->
		<!--				<a href="#">JOIN NOW</a>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->
		<!-- free-course-area-end -->
		<!-- event-area-start -->
		<!--<div class="event-area pt-90 pb-70">-->
		<!--	<div class="container">-->
		<!--		<div class="section-title text-center mb-45">-->
		<!--			<h1>events</h1>-->
		<!--			<p>Upcoming Education Events to feed your brain.</p>-->
		<!--		</div>-->
		<!--		<div class="row">-->
		<!--			<div class="col-xl-6 col-lg-6">-->
		<!--				<div class="event-wrapper mb-30">-->
		<!--					<div class="event-img">-->
		<!--						<a href="events-details.html"><img src="img/event/event1.jpg" alt="" /></a>-->
		<!--					</div>-->
		<!--					<div class="event-text">-->
		<!--						<span class="event-tag"><a href="events-details.html">8 may</a></span>-->
		<!--						<h4><a href="events-details.html">Intern Bootcamp Meetup 2018</a></h4>-->
		<!--						<div class="event-meta">-->
		<!--							<span><i class="far fa-clock"></i>12 : 00AM - 5:00 PM</span>-->
		<!--							<span><i class="fas fa-map-marker-alt"></i>Mirpur, Bangladesh</span>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--			<div class="col-xl-6 col-lg-6">-->
		<!--				<div class="event-wrapper mb-30">-->
		<!--					<div class="event-img">-->
		<!--						<a href="events-details.html"><img src="img/event/event2.jpg" alt="" /></a>-->
		<!--					</div>-->
		<!--					<div class="event-text">-->
		<!--						<span class="event-tag"><a href="events-details.html">23 may</a></span>-->
		<!--						<h4><a href="events-details.html">Tech Magazine About Trends</a></h4>-->
		<!--						<div class="event-meta">-->
		<!--							<span><i class="far fa-clock"></i>12 : 00AM - 5:00 PM</span>-->
		<!--							<span><i class="fas fa-map-marker-alt"></i>gazipur, Bangladesh</span>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->
		<!-- event-area-end -->
		<!-- testimonial-area-start -->
		<div class="testimonial-area pt-90 pb-100 gray1-bg">
			<div class="container">
				<div class="row">
					<div class="offset-xl-2 col-xl-8">
						<div class="testimonial-active owl-carousel">
							<div class="testimonial-wrapper">
								<div class="testimonial-text text-center">
									<h1>what people say</h1>
									<p>We are real Fan of Digital Passion .  Really took our Business from Local Mumbai Shop to an International Brand. We got our Website developed from Magnet Marketing and now we are really happy to have Marketing Automation Software that is improving our Conversion Rate. His Strategies are just awesome.</p>
								</div>
								<div class="testimonial-information">
									<div class="testimonial-img">
										<img src="" alt="">
									</div>
									<div class="testimonial-name">
										<h4>VISHAL RAJPUT.</h4>
										<span>Front-end Developer</span>
									</div>
								</div>
							</div>
							<div class="testimonial-wrapper">
								<div class="testimonial-text text-center">
									<h1>what people say</h1>
									<p>I was working in a company as Social Media Assistant but didn’t get higher responsibilities for managing AdWords and PPC Accounts. But after joining this course and hard work, now I am managing PPC Campaigns and Mobile Apps Campaigns independently. Thanks to Viral Sir for enlightening with your practical approach. </p>
								</div>
								<div class="testimonial-information">
									<div class="testimonial-img">
										<img src="" alt="">
									</div>
									<div class="testimonial-name">
										<h4>MANPREET KAUR</h4>
										<span>Digital Marketer.</span>
									</div>
								</div>
							</div>
							<div class="testimonial-wrapper">
								<div class="testimonial-text text-center">
									<h1>what people say</h1>
									<p>I have Two Premium Hair and Beauty Salon at Hyderabad. I was unable to portray the marketing message in front of my audience. But thanks to  Digital Passion, from whom I purchased Digital Marketing Course and also get my Website funksalon.in developed from him. For me it’s the Best Digital Marketing Company in India. </p>
								</div>
								<div class="testimonial-information">
									<div class="testimonial-img">
										<img src="" alt="">
									</div>
									<div class="testimonial-name">
										<h4>ABHINAV KUMAR</h4>
										<span></span>
									</div>
								</div>
							</div>
							
							<div class="testimonial-wrapper">
								<div class="testimonial-text text-center">
									<h1>what people say</h1>
									<p>I remember the day when Mr. Digital Passion came to my office and he was in an informal dress and I was a bit negative. He was confidently talking that he can generate 250+ qualified leads in a budget of Rs. 1 lac. It was hard for me to believe, but he fulfilled more than committed with 398 leads. Mr. Viral Digital Passion means ROI. </p>
								</div>
								<div class="testimonial-information">
									<div class="testimonial-img">
										<img src="" alt="">
									</div>
									<div class="testimonial-name">
										<h4>HARI VERMA</h4>
										<span></span>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial-area-end -->
		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mt-10 mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->

