		<header>
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="img/logo/logo.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>

									   </li>
									   <li><%= link_to 'About', page_path('about') %>
            <!--                                <ul class="submenu">-->
            <!--                                    <li><%= link_to 'About', page_path('about') %></li>-->
												<!--<li><a href="membership.html">membership</a></li>-->
											 <!--   <li><a href="our-teachers.html">our teachers</a></li>-->
											 <!--   <li><a href="portfolio.html">portfolio</a></li>-->
											 <!--   <li><a href="testimonial.html">testimonial</a></li>-->
											 <!--   <li><a href="notices.html">notices</a></li>-->
											 <!--   <li><a href="404.html">404</a></li>-->
											 <!--   <li><a href="cart.html">cart</a></li>-->
												<!--<li><a href="courses-details.html">courses details</a></li>-->
											 <!--  <li><a href="events-details.html">events details</a></li>-->
            <!--                                </ul>-->
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>

                                        </li>

										<li><%= link_to 'Contact', page_path('contact') %>  </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="far fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<div class="breadcrumb-area pt-150 pb-150 " style="background-image:url(https://instaservices.blob.core.windows.net/digitalpassion/aboutus_banner.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>About Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about-area-start -->
		<div class="about-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="about-img mb-30">
							<img src="https://instaservices.blob.core.windows.net/digitalpassion/about1sideimg.jpg" alt="" />
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="about-wrapper mb-30">
							<div class="about-text">
								<span>About DigitalPassion</span>
								<h1>our Brief</h1>
								<p>Digital Passion is a Digital training initiative under Vikhale Digital. The major object is to provide digital marketing training for job aspirants and online businesses as well.</p>
								<br>
								<p>We build and implement effective Digital Marketing Strategies that creates a brand, generate leads, increase website traffic, improves sales, and strengthens online presence. With over 20 years of experience, Digital Passion is a pilot project of the Vikhale Digital Agency to be the leading Digital Marketing School that caters the need of small and medium businesses across Mumbai.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about-area-end -->

		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->