		<header>
			
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="img/logo/logo.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>

									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                                   
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %> </li>
								
										<li><%= link_to 'Contact', page_path('contact') %></li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">
                               
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="fa fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta2.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta3.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta4.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta5.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta6.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- breadcrumb-area-start -->
		<div class="breadcrumb-area pt-150 pb-150 " style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/bg/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>contact</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area-start -->
		<!-- contact-area-start -->
		<div class="contact-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 mb-30">
						<div class="contact-wrapper">
							<div class="contact-text">
								<h3>Contact Form</h3>
								<p>We unswer during 24 hours in working days.</p>
							</div>
							<form action="assets/mail.php" id="contact-form">
								<div class="row">
									<div class="col-xl-12 mb-12">
										<input name="name" placeholder="Name" type="text">
									</div>
									<div class="col-xl-12 mb-12">
										<input name="email" placeholder="E-mail" type="email">
									</div>
									<div class="col-xl-12 mb-12">
										<input name="subject" placeholder="subject" type="text">
									</div>
									<div class="col-xl-12 mb-30">
										<textarea name="message" cols="30" rows="10" placeholder="message" id="message"></textarea>
									</div>
									<div class="col-xl-12">
										<button class="submit" type="submit">Send Message</button>
									</div>
								</div>
								<p class="form-message"></p>
							</form>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 mb-30">
						<div class="contact-right-wrapper">
							<div class="contact-right-text mb-35">
								<h5>Address</h5>
								<span>F - 1, Shubh Parvati Ind. Estate, Opp. Ice Factory, Shivaji Udyog Nagar, Manpada Road, Dombivli East.</span>
								<span></span>
							</div>
							<div class="contact-right-text mb-35">
								<h5>Phone</h5>
								<span>9920665550 / 8433626828</span>
							</div>
							<div class="contact-right-text">
								<h5>email</h5>
								<span>General: enquiry@digitalpassion.com</span>
							</div>
							<div class="contact-icon">
								<a href="#"><i class="fa fa-google-plus-g"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook-f"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-youtube"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- contact-area-end -->

		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>