		<header>
			
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="https://instaservices.blob.core.windows.net/digitalpassion/digitalpassion_logo_white.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>

									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                                            
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>
										<!--<li><a href="events.html">events</a></li>-->
										<!--<li><a href="blog.html">News</a>-->
          <!--                                  <ul class="submenu">-->
          <!--                                      <li>-->
          <!--                                          <a href="blog.html">Blog</a>-->
          <!--                                      </li>-->
          <!--                                      <li>-->
          <!--                                          <a href="blog-details.html">Blog Details</a>-->
          <!--                                      </li>-->
          <!--                                  </ul>-->
          <!--                              </li>-->

										<li><%= link_to 'Contact', page_path('contact') %> </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="far fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>

               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- breadcrumb-area-start -->
		<div class="breadcrumb-area pt-150 pb-150 " style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/bg/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>all courses</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area-start -->
		<!-- all-courses-area-start -->
		<div class="all-courses-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9">
						<div class="courses-top-bar clearfix">

						</div>

						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
										<div class="coures-wrapper text-center mb-30">
											<div class="coures-img">
												<a href=""><img src="https://instaservices.blob.core.windows.net/digitalpassion/digital_marketing_course_full.jpg" alt="" /></a>
											</div>
											<div class="courses-text">
												<span class="course-tag"><%= link_to "Details", page_path("courses/digital_marketing_certification_course_india") %></span>
												<h4><%= link_to "Digital Marketing Cetification Course", page_path("courses/digital_marketing_certification_course_india") %></h4>
												<div class="course-meta">
													<span><i class="fa fa-bookmark"></i>8 Lessons</span>
													<span><i class="fa fa-users"></i> 36</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
										<div class="coures-wrapper text-center mb-30">
											<div class="coures-img">
												<a href=""><img src="https://instaservices.blob.core.windows.net/digitalpassion/emailmarketing-full.jpg" alt="" /></a>
											</div>
											<div class="courses-text">
												<span class="course-tag"><%= link_to "Details", page_path("courses/email_marketing_course") %></span>
												<h4><%= link_to "Email Marketing Course", page_path("courses/email_marketing_course") %></h4>
												<div class="course-meta">
													<span><i class="fa fa-bookmark"></i>8 Lessons</span>
													<span><i class="fa fa-users"></i> 36</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
										<div class="coures-wrapper text-center mb-30">
											<div class="coures-img">
												<a href=""><img src="https://instaservices.blob.core.windows.net/digitalpassion/facebook-marketing-course-full.jpg" alt="" /></a>
											</div>
											<div class="courses-text">
												<span class="course-tag"><%= link_to "Details", page_path("courses/facebook_marketing_certification_course") %></span>
												<h4><a href="courses-details.html"><%= link_to "Facebook Marketing Course ", page_path("courses/facebook_marketing_certification_course") %></h4>
												<div class="course-meta">
													<span><i class="fa fa-bookmark"></i>8 Lessons</span>
													<span><i class="fa fa-users"></i> 36</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
										<div class="coures-wrapper text-center mb-30">
											<div class="coures-img">
												<a href=""><img src="https://instaservices.blob.core.windows.net/digitalpassion/youtube-marketing-full.jpg" alt="" /></a>
											</div>
											<div class="courses-text">
												<span class="course-tag"><%= link_to "Details", page_path("courses/youtube_marketing_course") %></span>
												<h4><a href=""><%= link_to "YouTube Marketing Course", page_path("courses/youtube_marketing_course") %></h4>
												<div class="course-meta">
													<span><i class="fa fa-bookmark"></i>8 Lessons</span>
													<span><i class="fa fa-users"></i> 36</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
										<div class="coures-wrapper text-center mb-30">
											<div class="coures-img">
												<a href=""><img src="https://instaservices.blob.core.windows.net/digitalpassion/what-is-affiliate-marketing-full.png" alt="" /></a>
											</div>
											<div class="courses-text">
												<span class="course-tag"><%= link_to "Details", page_path("courses/affiliate_marketing_course") %></span>
												<h4><a href=""><%= link_to "Affiliate Marketing Course", page_path("courses/affiliate_marketing_course") %></h4>
												<div class="course-meta">
													<span><i class="fa fa-bookmark"></i>8 Lessons</span>
													<span><i class="fa fa-users"></i> 36</span>
												</div>
											</div>
										</div>
									</div>
								
								</div>
							</div>
							
							
						</div>
						<!--<div class="col-xl-12">-->
						<!--	<div class="pagination mt-70 mb-30">-->
						<!--		<div class="pagination-text">-->
						<!--			<a href="#"><i class="fas fa-long-arrow-alt-left"></i>Previous</a>-->
						<!--		</div>-->
						<!--		<ul class="paginationss">-->
						<!--			<li><a href="#">1</a></li>-->
						<!--			<li class="active"><a href="#">2</a></li>-->
						<!--			<li><a href="#">3</a></li>-->
						<!--		</ul>-->
						<!--		<div class="pagination-content">-->
						<!--			<a href="#">Next<i class="fas fa-long-arrow-alt-right"></i></a>-->
						<!--		</div>-->
						<!--	</div>-->
						<!--</div>-->
					</div>
					<div class="col-lg-3 col-xl-3">
					<!--<div class="widget mb-45">-->
					<!--	<h5 class="widget-course-title">Categories</h5>-->
					<!--	<ul class="categories">-->
					<!--		<li><a href="courses-details.html">Photography ( 5 )</a></li>-->
					<!--		<li><a href="courses-details.html">Creative ( 1 )</a></li>-->
					<!--		<li><a href="courses-details.html">Stories ( 3 )</a></li>-->
					<!--		<li><a href="courses-details.html">Games ( 10 )</a></li>-->
					<!--		<li><a href="courses-details.html">Videos ( 7 )</a></li>-->
					<!--		<li><a href="courses-details.html">Music ( 4 )</a></li>-->
					<!--	</ul>-->
					<!--</div>-->
					<div class="widget mb-45">
						<!--<h5 class="widget-course-title">latest Posts</h5>-->
						<!--<ul class="latest-Posts">-->
						<!--	<li>-->
						<!--		<div class="posts-image">-->
						<!--			<a href="courses-details.html"><img src="img/event/events5.jpg" alt=""></a>-->
						<!--		</div>-->
						<!--		<div class="posts-body">-->
						<!--			<h4><a href="courses-details.html">The Complete React Web Developer Course</a></h4>-->
						<!--			<span>October 7, 2018</span>-->
						<!--		</div>-->
						<!--	</li>-->
						<!--	<li>-->
						<!--		<div class="posts-image">-->
						<!--			<a href="courses-details.html"><img src="img/event/events6.jpg" alt=""></a>-->
						<!--		</div>-->
						<!--		<div class="posts-body">-->
						<!--			<h4><a href="courses-details.html">The Complete React Web Developer Course</a></h4>-->
						<!--			<span>October 7, 2018</span>-->
						<!--		</div>-->
						<!--	</li>-->
						<!--	<li>-->
						<!--		<div class="posts-image">-->
						<!--			<a href="courses-details.html"><img src="img/event/events7.jpg" alt=""></a>-->
						<!--		</div>-->
						<!--		<div class="posts-body">-->
						<!--			<h4><a href="courses-details.html">The Complete React Web Developer Course</a></h4>-->
						<!--			<span>October 7, 2018</span>-->
						<!--		</div>-->
						<!--	</li>-->
						<!--</ul>-->
					</div>
					<div class="widget mb-30">
						<!--<h5 class="widget-course-title">Upcoming events</h5>-->
						<!--<ul class="latest-Posts">-->
						<!--	<li>-->
						<!--		<div class="uncoming-event">-->
						<!--			<span class="date">10</span>-->
						<!--			<span class="month">april</span>-->
						<!--		</div>-->
						<!--		<div class="posts-body">-->
						<!--			<h4><a href="courses-details.html">The Complete React Web Developer Course</a></h4>-->
						<!--			<span>October 7, 2018</span>-->
						<!--		</div>-->
						<!--	</li>-->
						<!--	<li>-->
						<!--		<div class="uncoming-event">-->
						<!--			<span class="date">17</span>-->
						<!--			<span class="month">april</span>-->
						<!--		</div>-->
						<!--		<div class="posts-body">-->
						<!--			<h4><a href="courses-details.html">The Complete React Web Developer Course</a></h4>-->
						<!--			<span>October 7, 2018</span>-->
						<!--		</div>-->
						<!--	</li>-->
						<!--	<li>-->
						<!--		<div class="uncoming-event">-->
						<!--			<span class="date">22</span>-->
						<!--			<span class="month">april</span>-->
						<!--		</div>-->
						<!--		<div class="posts-body">-->
						<!--			<h4><a href="courses-details.html">The Complete React Web Developer Course</a></h4>-->
						<!--			<span>October 7, 2018</span>-->
						<!--		</div>-->
						<!--	</li>-->
						<!--</ul>-->
					</div>
					<!--<div class="widget">-->
					<!--	<h5 class="widget-course-title">Popular Tags</h5>-->
					<!--	<ul class="tag">-->
					<!--		<li><a href="courses-details.html">Creative</a></li>-->
					<!--		<li><a href="courses-details.html">Unique</a></li>-->
					<!--		<li><a href="courses-details.html">Photography</a></li>-->
					<!--		<li><a href="courses-details.html">Music</a></li>-->
					<!--		<li><a href="courses-details.html">Wordpress Template</a></li>-->
					<!--		<li><a href="courses-details.html">Ideas</a></li>-->
					<!--	</ul>-->
					<!--</div>-->
				</div>
				</div>
			</div>
		</div>
		<!-- all-courses-area-end -->
		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->