		<header>
			</div>
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="img/logo/logo.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>
											
									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                                
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>
	
										<li><%= link_to 'Contact', page_path('contact') %> </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="far fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- breadcrumb-area-start -->
		<div class="breadcrumb-area pt-20 pb-20 " style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/bg/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>Digital Marketing Certification Course</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area-start -->
		<!-- testimonial-area-start -->
		<div class="courses-details-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 mb-30 courses-details-custom">
						<div class="courses-details-wrapper">
							<div class="couses-details-info">
								<ul class="courses-details">
									<li>
										<div class="courses-details-img">
											<img src="img/course/1.png" alt="" />
										</div>
										<div class="courses-details-text">
											<h4>Categories</h4>
											<span>Digital Marketing, SEO</span>
										</div>
										<div class="courses-details-text">
											<h4>Teacher</h4>
											<span>XXX 000</span>
										</div>
									</li>
								</ul>
								<div class="courses-details-right">
									<div class="courses-right-text">
										<span>INR 20,000</span>
									</div>
									<div class="courses-right-button">
										<a href="#">BUY NOW</a>
									</div>
								</div>
							</div>
							<div class="courses1-details-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/digital_marketing_course_full.jpg" alt="" />
							</div>
							<div class="couses-details-content">
								<div class="couses-details-content">
									<h1>Course Details</h1>

									<p>
										Join the No.1. School OF Digital Marketing in Mumbai. We covers all the courses mentioned in Digital Marketing Category.
									</p>
									<p>
										It includes a total of 16 modules tincluding everything you need to know about Digital Marketing. Recommended for a highly competitive online world. After completion of Digital Marketing Certification Course, you will be able to promote any business online.

									</p>
									<p>
										We not only teach concepts, but also cover Practical Digital Marketing Strategies with Live Examples step by step.
									</p>
									<br>
									
									<div class="courses-widget">
								<h5>Course Module Details</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Digital Marketing : Fundamentals and Basics.</li>
									<li>Topic 02: Website Structure & Brand Building.</li>
									<li>Topic 03: Facebook Business Page Marketing.</li>
									<li>Topic 04: Youtube and Video Marketing.</li>
									<li>Topic 05: Instagram Business Account and Twitter.</li>
									<li>Topic 06: LinkedIn Marketing.</li>
									<li>Topic 07: Email Marketing, Automation, Funneling.</li>
									<li>Topic 08: Website Audit and Website SEO.</li>
									<li>Topic 09: Competitor Analysis and Offsite SEO.</li>
									<li>Topic 10: Digital Marketing for Local Business.</li>
									<li>Topic 11: Google Analytics and Webmaster.</li>
									<li>Topic 12: Google Adwords and PPC(Pay Per Click Campagin).</li>
									<li>Topic 13: Ecommerce and Payment Gateway.</li>
									<li>Topic 14: Affiliate Marketing and Adsense.</li>
									<li>Topic 15: Case Studies.</li>
									<li>Topic 16: Assignments.</li>
									<li>Topic 17: Certification Exam.</li>
								</ul>
										
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-xl-3 mb-30">
						<div class="widget mb-50">
							<div class="courses-widget">

							</div>
						</div>
						<div class="widget mb-45">

						</div>
						<div class="widget">

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial-area-end -->
		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->