		<header>
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="img/logo/logo.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>
											
									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                              
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>

										<li><%= link_to 'Contact', page_path('contact') %> </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">
 
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="fa fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- breadcrumb-area-start -->
		<div class="breadcrumb-area pt-20 pb-20 " style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/bg/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>Email Marketing Course</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area-start -->
		<!-- testimonial-area-start -->
		<div class="courses-details-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 mb-30 courses-details-custom">
						<div class="courses-details-wrapper">
							<div class="couses-details-info">
								<ul class="courses-details">
									<li>
										<div class="courses-details-img">
											<img src="img/course/1.png" alt="" />
										</div>
										<div class="courses-details-text">
											<h4>Categories</h4>
											<span>Digital Marketing, Email Marketing</span>
										</div>
										<div class="courses-details-text">
											<h4>Teacher</h4>
											<span>XXX 000</span>
										</div>
									</li>
								</ul>
								<div class="courses-details-right">
									<div class="courses-right-text">
										<span>INR 20,000</span>
									</div>
									<div class="courses-right-button">
										<a href="#">BUY NOW</a>
									</div>
								</div>
							</div>
							<div class="courses1-details-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/emailmarketing-full.jpg" alt="" />
							</div>
							<div class="couses-details-content">
								<div class="couses-details-content">
									<h1>Course Details</h1>

									<p>
										This course covers the 6th Topic from Full Digital Marketing Certification Course. Email Marketing Certification Course covers step by step Video Tutorials Series, Case Studies, Email Examples, Email Templates, Email Tips as well as designing Advanced Email Automation Sequence to create brand awareness, generate sales, increase website traffic and to nurture your prospects.
									</p>
									<p>
										Still Email is and will be an important element for both B2B as well as B2C Businesses. Your Digital Marketing Strategy Plan or Funnel is incomplete without Email Marketing.
									</p>
									<p>
									</p>
									<br>
									
								<div class="courses-widget">
								<h5>Email Marketing Content Strategy</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Email Machine : Fundamentals and Strategy.</li>
									<li>Topic 02: Email Frequency.</li>
									<li>Topic 03: Why people don't buy.</li>
									<li>Topic 04: Youtube and Video Marketing.</li>
									<li>Topic 05: The Fuel - value.</li>
									<li>Topic 06: Triggers in Email Marketing using 4 P's.</li>
									<li>Topic 07: Sequence of Email Triggers.</li>
									<li>Topic 08: Email Example - Topic.</li>
									<li>Topic 09: Email Example - Company Introduction.</li>
									<li>Topic 10: Email Example - Product and Services.</li>
									<li>Topic 11: Email Example - Secondary Value.</li>
									<li>Topic 12: Email Example - Fear for Action.</li>
									<li>Topic 13: Email Example - Regret for Scarcity.</li>
									<li>Topic 14: Email Example - Ask for Sales.</li>
									<li>Topic 15: Email Example - Reinforcement.</li>
									<li>Topic 16: Email Example - Offers & Announcements.</li>
									<li>Topic 17: Email Example - Cross Sales.</li>
									<li>Topic 18: Email Example - Re-engagement.</li>
									<li>Topic 19: Email Example - Buyers vs Consumers.</li>
								</ul>
									</br>
								<h5>Email Marketing Tools & Softwares.</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Email Software Analysis.</li>
									<li>Topic 02: Selecting Email Software.</li>
									<li>Topic 03: Importing Email Lists.</li>
									<li>Topic 04: Practical on 3 Softwares for List Imports.</li>
									<li>Topic 05: Custom Fields.</li>
									<li>Topic 06: Double OPT-IN.</li>
									<li>Topic 07: Sequence of Email Triggers.</li>
									<li>Topic 08: Lead or Contact Fields.</li>
									<li>Topic 09: Content First.</li>
									<li>Topic 10: Sending Email Campaign.</li>
									<li>Topic 11: Sending HTML Email Campaign.</li>
									<li>Topic 12: Sending Mobile Responsive Campaign.</li>
									<li>Topic 13: Email Open Rate.</li>
									<li>Topic 14: Email Click Through Rate.</li>
									<li>Topic 15: Email A/B Testing.</li>
									<li>Topic 16: Variant Case Studies.</li>
									<li>Topic 17: Email Marketing Templates.</li>
								</ul>	
									</br>
								</div>

									<p>
										We are also adding Email Marketing templates and Email Samples for almost every industry including Travel, Real Estate, B2B, B2C, eCommerce, Education, Health, Medical, Fashion, Beauty, Accounting, Service Business, Professionals and many more. They will be released within few months.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-xl-3 mb-30">
						<div class="widget mb-50">
							<div class="courses-widget">

							</div>
						</div>
						<div class="widget mb-45">
							
						</div>
						<div class="widget">

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial-area-end -->
		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->