		<header>
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="img/logo/logo.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>
											
									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                                      
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>

										<li><%= link_to 'Contact', page_path('contact') %> </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="far fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- breadcrumb-area-start -->
		<div class="breadcrumb-area pt-20 pb-20 " style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/bg/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>Facebook Marketing Course</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area-start -->
		<!-- testimonial-area-start -->
		<div class="courses-details-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 mb-30 courses-details-custom">
						<div class="courses-details-wrapper">
							<div class="couses-details-info">
								<ul class="courses-details">
									<li>
										<div class="courses-details-img">
											<img src="img/course/1.png" alt="" />
										</div>
										<div class="courses-details-text">
											<h4>Categories</h4>
											<span>Digital Marketing, Facebook Marketing</span>
										</div>
										<div class="courses-details-text">
											<h4>Teacher</h4>
											<span>XXX 000</span>
										</div>
									</li>
								</ul>
								<div class="courses-details-right">
									<div class="courses-right-text">
										<span>INR 20,000</span>
									</div>
									<div class="courses-right-button">
										<a href="#">BUY NOW</a>
									</div>
								</div>
							</div>
							<div class="courses1-details-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/facebook-marketing-course-full.jpg" alt="" />
							</div>
							<div class="couses-details-content">
								<div class="couses-details-content">
									<h1>Course Details</h1>

									<p>
										This course covers Topic 3 from Full Digital Marketing Certification Course. It’s a step by step PracticalTraining Series; that covers in-depth and Advance Facebook Marketing Course. We not only cover Facebook Marketing Tools, but we also teach Business Strategies to reach your targeted audience who are more likely to become your customer through Facebook.
									</p>
									</br>
									<p>
										It includes Facebook Organic Strategy, Designing Facebook Campaigns,  Paid Ads, Branding, Lead Generation through Facebook and all necessary tools and techniques to promote your brand and increase your sales.
									</p>
									<p>
									</p>
									<br>
									
								<div class="courses-widget">
								<h5>Facebook Marketing Beginners Level:</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Profiles and Pages.</li>
									<li>Topic 02: Business Categories.</li>
									<li>Topic 03: Getting Assets Ready.</li>
									<li>Topic 04: Creating Facebook Business Page.</li>
									<li>Topic 05: Page Info and Settings.</li>
									<li>Topic 06: Facebook Page Custom URL.</li>
									<li>Topic 07: Invite Page Likes.</li>
									<li>Topic 08: Featured Videos.</li>
									<li>Topic 09: Pin Posts & Highlights.</li>
									<li>Topic 10: Schedule Posts.</li>
									<li>Topic 11: Facebook Events.</li>
									<li>Topic 12: Reply and Message.</li>
									<li>Topic 13: Facebook Insights Reports.</li>
									<li>Topic 14: Competitors Facebook Page.</li>
									<li>Topic 15: Ban User on Facebook Page.</li>
									<li>Topic 16: Connect with Twitter.</li>

								</ul>
									</br>
								<h5>Facebook Marketing Intermediate Level.</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Organic vs Paid.</li>
									<li>Topic 02: Defining Ad Objective.</li>
									<li>Topic 03: Performance Matrix.</li>
									<li>Topic 04: Ads Components.</li>
									<li>Topic 05: Designing Creative Image, banner.</li>
									<li>Topic 06: Facebook Ad Structure.</li>
									<li>Topic 07: Setting up Facebook Ad Account.</li>
									<li>Topic 08: Create - Ad Targeting.</li>
									<li>Topic 09: Create - Ad Budgeting.</li>
									<li>Topic 10: Create - Ad Creative.</li>
									<li>Topic 11: Content & CTA.</li>
									<li>Topic 12: Boosting Page Posts.</li>
									<li>Topic 13: Page Promotion.</li>
									<li>Topic 14: Video Promotion.</li>
									<li>Topic 15: Similar Ads & Audiences.</li>
									<li>Topic 16: Tracking Pixels Code.</li>
									<li>Topic 17: Remarketing - Website Visitors.</li>
									<li>Topic 18: Custom Audiences Look Alike.</li>
									<li>Topic 19: Custom Audiences Saved Groups.</li>
									<li>Topic 20: Facebook Lead Ads.</li>
									<li>Topic 21: Facebook Reach Ads.</li>
									<li>Topic 22: Managing and Editing Ads.</li>
									<li>Topic 23: Ads Reports & Insights.</li>
									<li>Topic 24: Billing & Accounting.</li>
								</ul>	
									</br>
									
								<h5>Facebook Marketing Advance Level.</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Facebook Business Manager.</li>
									<li>Topic 02: Peoples, Pages and Roles.</li>
									<li>Topic 03: Ad Accounts Configuration.</li>
									<li>Topic 04: Ad Agency & Assigning.</li>
									<li>Topic 05: Shared Login for Facebook Business Account.</li>
									<li>Topic 06: Power Editor (Advance).</li>
									<li>Topic 07: Email Targeting on Facebook.</li>
									<li>Topic 08: Facebook Offers.</li>
									<li>Topic 09: CTA on Page.</li>
									<li>Topic 10: Posts for Location.</li>
									<li>Topic 11: Save Time with Third party Tools.</li>
									<li>Topic 12: Case Studies.</li>
									<li>Topic 13: Practical Examples.</li>
								</ul>	
									</br>
								</div>

									<p>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-xl-3 mb-30">
						<div class="widget mb-50">
							<div class="courses-widget">

							</div>
						</div>
						<div class="widget mb-45">
							
						</div>
						<div class="widget">

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial-area-end -->
		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->