		<header>
			<div class="header-transparent1 gray2-bg pl-60 pr-60">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3">
                           <div class="logo">
                               <a href="/"><img src="img/logo/logo.png" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xl-7 col-lg-7">
                           <div class="main-menu text-center">
                               <nav id="mobile-menu">
                                   <ul>
                                       <li><a href="/">home</a>
											
									   </li>
									   <li><%= link_to 'About', page_path('about') %>
                  
                                        </li>
										<li><%= link_to 'Courses', page_path('courses') %></li>

										<li><%= link_to 'Contact', page_path('contact') %> </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu"></div>
                       </div>
					   <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                           <div class="header-right f-right">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="extra-info">
                <div class="close-icon">
                    <button><i class="far fa-window-close"></i></button>
                </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
               <div class="instagram">
                   <a href="#"><img src="img/instagram/insta1.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta2.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta3.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta4.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta5.png" alt=""></a>
                   <a href="#"><img src="img/instagram/insta6.png" alt=""></a>
               </div>
                <div class="social-icon-right mt-30">
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
           </div>
		<!-- header-top-area-start -->
		</header>
		<!-- breadcrumb-area-start -->
		<div class="breadcrumb-area pt-20 pb-20 " style="background-image:url(http://nscreativestudio.com/skillup/skillup/img/bg/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-text text-center">
							<h1>Youtube Marketing Course</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area-start -->
		<!-- testimonial-area-start -->
		<div class="courses-details-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 mb-30 courses-details-custom">
						<div class="courses-details-wrapper">
							<div class="couses-details-info">
								<ul class="courses-details">
									<li>
										<div class="courses-details-img">
											<img src="img/course/1.png" alt="" />
										</div>
										<div class="courses-details-text">
											<h4>Categories</h4>
											<span>Digital Marketing, Youtube Marketing</span>
										</div>
										<div class="courses-details-text">
											<h4>Teacher</h4>
											<span>XXX 000</span>
										</div>
									</li>
								</ul>
								<div class="courses-details-right">
									<div class="courses-right-text">
										<span>INR 20,000</span>
									</div>
									<div class="courses-right-button">
										<a href="#">BUY NOW</a>
									</div>
								</div>
							</div>
							<div class="courses1-details-img">
								<img src="https://instaservices.blob.core.windows.net/digitalpassion/youtube-marketing-full.jpg" alt="" />
							</div>
							<div class="couses-details-content">
								<div class="couses-details-content">
									<h1>Course Details</h1>

									<p>
										This course covers Topic 5 from Full Digital Marketing Course. Video plays a vital role in your overall Digital Marketing Plan and it’s almost inevitable for any business to exclude Video Marketing in their overall Online Marketing Campaign Strategy. That’s why  you need to learn YouTube Marketing.
									</p>
									</br>
									<p>
										It’s a step by step Training Course to understand Video Marketing, Creating Videos, Editing Videos, Create Awareness and Brand Building Videos, Publishing it on YouTube and at the same time integrate Video Promotion Activities in your overall Digital Marketing Campaign.
									</p>
									<p>
									
									</p>
									<br>
									
								<div class="courses-widget">
								<h5>YouTube Marketing Beginners Level:</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Video Flow.</li>
									<li>Topic 02: Google Pages for Youtube Channels.</li>
									<li>Topic 03: Verify Youtube Channel.</li>
									<li>Topic 04: Creating Facebook Business Page.</li>
									<li>Topic 05: WebMasters Tools - Adding Assests.</li>
									<li>Topic 06: YouTube Channel URL.</li>
									<li>Topic 07: YouTube Channel ART.</li>
									<li>Topic 08: YouTube Channel Links.</li>
									<li>Topic 09: YouTube Channel Keywords.</li>
									<li>Topic 10: Branding Watermark.</li>
									<li>Topic 11: Featured Contents on Channel.</li>
									<li>Topic 12: YouTube Channel Main Trailer.</li>
									<li>Topic 13: YouTube Uploading Videos.</li>
									<li>Topic 14: YouTube Upload Defaults.</li>
									<li>Topic 15: YouTube Creator Library.</li>
									<li>Topic 16: YouTube Practical Examples.</li>

								</ul>
									</br>
								<h5>YouTube Marketing Intermediate Level.</h5>	
								</br>
								<ul class="couses-details-link">
									<li>Topic 01: Channel Navigation.</li>
									<li>Topic 02: Video Thumbnail.</li>
									<li>Topic 03: CTA - Annotations.</li>
									<li>Topic 04: CTA - Extros.</li>
									<li>Topic 05: CTA - Cards.</li>
									<li>Topic 06: Posts Upload Enhancement.</li>
									<li>Topic 07: Live Broadcast.</li>
									<li>Topic 08: Playlists.</li>
									<li>Topic 09: Manage Comments and Messages.</li>
									<li>Topic 10: Monetization.</li>
									<li>Topic 11: Paid Channel.</li>
									<li>Topic 12: Channel Analytics.</li>
									<li>Topic 13: Analytics Realtime.</li>
									<li>Topic 14: Creating Videos For YouTube Marketing.</li>
								</ul>
								</br>
								</div>

									<p>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-xl-3 mb-30">
						<div class="widget mb-50">
							<div class="courses-widget">

							</div>
						</div>
						<div class="widget mb-45">
							
						</div>
						<div class="widget">

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial-area-end -->
		<!-- free-course-area-start -->
		<div class="free-course-area yellow-bg pt-50 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<div class="free-course-wrapper mb-30">
							<div class="free-course-icon">
								<a href="#"><i class="fa fa-users"></i></a>
							</div>
							<div class="free-course-text">
								<h3>350+ People already Joined to our club, it’s the first step</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12">
						<div class="free-courses-button text-center mb-30">
						<a href="#">Join to us now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- free-course-area-end -->