		<!-- CSS here -->
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/bootstrap.min.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/owl.carousel.min.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/magnific-popup.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/fontawesome-all.min.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/meanmenu.css">
		<link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/slick.css">
		<link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/animate.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/default.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/style.css">
        <link rel="stylesheet" href="https://instaservices.blob.core.windows.net/digitalpassion/responsive.css">