		<footer>
			<!-- footer-top-area-start -->
			<div class="footer-top-area blue-bg pt-100 pb-70">
				<div class="container">
					<div class="footer-border pb-20">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
								<div class="footer-wrapper mb-30">
									<h3 class="footer-title">About us</h3>
									<div class="footer-text">
										<p>Digital Passion is a Digital training initiative under Vikhale Digital.</p>
									</div>
									<div class="footer-icon">
									<a href="#"><i class="fa fa-facebook-f"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus-g"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 d-sm-none d-md-block">
								<div class="footer-wrapper mb-30">
									<h3 class="footer-title">Quick Links</h3>
									<ul class="footer-menu">
										<li><%= link_to 'Contact', page_path('contact') %> </li>
										<li><%= link_to 'About Us', page_path('about') %></li>
										<!--<li><a href="#"><i class="fas fa-angle-right"></i>News</a></li>-->
										<!--<li><a href="#"><i class="fas fa-angle-right"></i>shop</a></li>-->
										<!--<li><a href="#"><i class="fas fa-angle-right"></i>Team members</a></li>-->
										<!--<li><a href="#"><i class="fas fa-angle-right"></i>Success Stories</a></li>-->
										<!--<li><a href="#"><i class="fas fa-angle-right"></i>FAQ’s</a></li>-->
										<!--<li><a href="#"><i class="fas fa-angle-right"></i>Privacy policy</a></li>-->
									</ul>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
								<!--<div class="footer-wrapper mb-30">-->
								<!--	<h3 class="footer-title">Newsletter</h3>-->
								<!--	<div class="footer-info">-->
								<!--		<p>Subscribe to the newsletter to be informed of recent news.</p>-->
								<!--	</div>-->
								<!--	<form id="footer-form" action="#">-->
								<!--		<input placeholder="Your Email ..." type="text">-->
								<!--		<button><i class="fas fa-long-arrow-alt-right"></i></button>-->
								<!--	</form>-->
								<!--</div>-->
							</div>
						</div>
					</div>
					<div class="footer-icon-area pt-50">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
								<div class="footer-icon-wrapper mb-30">
									<div class="footers-icon">
										<a href="#"><i class="fa fa-phone"></i></a>
									</div>
									<div class="footer-icon-text">
										<h4>call us</h4>
										<span>9920665550 / 8433626828</span>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
								<div class="footer-icon-wrapper mb-30">
									<div class="footers-icon">
										<a href="#"><i class="fa fa-envelope"></i></a>
									</div>
									<div class="footer-icon-text">
										<h4>mail us</h4>
										<span>enquiry@digitalpassion.com</span>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 d-sm-none d-md-block">
								<div class="footer-icon-wrapper mb-30">
									<div class="footers-icon">
										<a href="#"><i class="fa fa-home"></i></a>
									</div>
									<div class="footer-icon-text">
										<h4>visit us</h4>
										<span>F - 1, Shubh Parvati Ind. Estate, Opp. Ice Factory, Shivaji Udyog Nagar, Manpada Road, Dombivli East.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top-area-end -->
			<!-- footer-bottom-area-start -->
			 <div class="footer-bottom-area blue2-bg ptb-20">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-4 col-sm-12">
							<div class="copyright">
								<p>Contents Copyrighted <i class="fa fa-copyright"></i> 2018 DigitalPassion.</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
							<div class="footer-bottom-wrapper">
								<ul class="footer-link  text-md-right">
									<li><%= link_to 'About', page_path('about') %></li>
									<!--<li><a href="#">Terms & Conditions </a></li>-->
									<!--<li><a href="#">Privacy Policy </a></li>-->
									<li><%= link_to 'Contact', page_path('contact') %> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			 </div>
			<!-- footer-bottom-area-end -->
		</footer>
