<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  
  <%= render 'layouts/bootstrap' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

		<%= render 'layouts/footer' %>

		<!-- JS here -->
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/modernizr-3.5.0.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery-1.12.4.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/popper.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery.meanmenu.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/bootstrap.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/owl.carousel.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/isotope.pkgd.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/ajax-form.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery.counterup.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery.countdown.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery.nice-select.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery.scrollUp.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/waypoints.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/imagesloaded.pkgd.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/jquery.magnific-popup.min.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/plugins.js"></script>
        <script src="https://instaservices.blob.core.windows.net/digitalpassion/main.js"></script>
</body>
</html>
